<% provide(:title, "About") %>
<h1>About</h1>
<p>
   This web site was developed by Henry Franzoni using GIT v 2.11.0, Ruby on RAILs v 5.0.1, Javascript, Bootstrap, CSS, HTML5, SQL Lite, My SQL, and Postgres.  This web site
   uses bitbucket and heroku in the development chain.
</p>