<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  <ul>
  <li>You can Email me at <em>henry@excaliburbritish.com</em>  </li>
  <li>If you're a member of Team Gunio, you can contact me on <a href="https://teamgunio.slack.com">Slack</a></li>
  <Li>If you're a member of ResearchGate, you can contact me on <a href="https://www.researchgate.net">ResearchGate</a></Li>
  <li>You can also contact me on <a href="https://www.facebook.com/hfranzoni3">FaceBook </a> or on <a href="https://www.linkedin.com/in/henry-franzoni-5436307/">Linked In</a></li>

  </ul>
</p>
