<% provide(:title, "Music") %>
<h1>Music</h1>
I've played drums since age 4.  I more or less retired from playing the drums in 2006, but I was needed, so I came back to play some since 2014.  
I'm no longer driven to be the absolute best I can be on the drums, I'm only practicing once a week, just keeping in touch with my friends the drums.
I've recorded 18 CDs and records over the years, and have been signed and dropped from 4 Indi record companies.  I surmise I'm in the latter part
of my music career, I'm putting together a best of compilation, which hopefully will be put out soon.  Meanwhile, here's a smattering of tunes from some of
the super-great bands I've been in. I loved making music with these people.
<p>
  <dl>
    <center>
  <dt><%= link_to "Caveman Shoestore, '14th Century', 2006", "Caveman_Shoestore_14th_Century.mp3", class: "btn btn-lg btn-primary" %> </dt>
  <dt><%= link_to "Caveman Shoestore, 'I Just Might', 1992", "Caveman_Shoestore_I_Just_Might.mp3", class: "btn btn-lg btn-primary" %> </dt>
  <dt><%= link_to "Caveman Shoestore, 'Lost Horizon', 1992", "Caveman_Shoestore_Lost_Horizon.mp3", class: "btn btn-lg btn-primary" %> </dt>
  <dt><%= link_to "Caveman Shoestore, 'Tractor Pulling a Clown', 1992", "Caveman_Shoestore_Tractor_Pulling_a_Clown.mp3", class: "btn btn-lg btn-primary" %></dt>
  <dt><%= link_to "Caveman Shoestore, 'When Rome Burns, Read the Sports Page', 1992", "Caveman_Shoestore_When_Rome_Burns_Read_the_Sports_Page.mp3", class: "btn btn-lg btn-primary" %></dt>
  <dt><%= link_to "The 1st Face Ditch, Space Flight Cat, 2001","Space_Flight_Cat_Face_Ditch.mp3", class: "btn btn-lg btn-primary" %></dt>
  <dt><%= link_to "The 1st Face Ditch, 'I am Truck, Eh?', 2001","I_Am_Truck_Eh_Face_Ditch.mp3", class: "btn btn-lg btn-primary" %></dt>
  <dt><%= link_to "The 1st Face Ditch, 'Spycam', 2001","Spycam_Face_Ditch.mp3", class: "btn btn-lg btn-primary" %></dt>
  <dt><%= link_to "The 1st and 2nd Face Ditch, 'Pan the Goat God' 2001", "The_1st_and_2nd_Face_Ditch_Pan_the_Goat_God.mp3",class: "btn btn-lg btn-primary" %></dt>
  <dt><%= link_to "Boodlers, 'Lose Change' 1994", "Boodlers_Loose_Change.mp3",class: "btn btn-lg btn-primary" %></dt>
  <dt><%= link_to "The 2nd Face Ditch, 'Measurement' 1982", "FaceDitch_Measurement.mp3",class: "btn btn-lg btn-primary" %></dt>
  <dt><%= link_to "The 2nd Face Ditch, 'Old Ubu's Waltz' 1982", "Face_Ditch_Old_Ubus_Waltz.mp3",class: "btn btn-lg btn-primary" %></dt>
  <dt><%= link_to "The Tone Dogs, 'Spanish Eyes Medley', 1989", "Tone_Dogs_Blue_Gallery_Spanish_Eyes_Medley.mp3", class: "btn btn-lg btn-primary" %> </dt>    
  <dt><%= link_to "The Tone Dogs, 'Brave It', 1989", "Tone_Dogs_Brave_It.mp3", class: "btn btn-lg btn-primary" %> </dt>
  </dl>
  </center>
  <center>
  <dl>
  <dt>All these bands had Fred Chalenor on bass and Henry Franzoni on drums, </dt>
  <dt>the rest of the musicians you hear here are:</dt> 
  <dt>Elaine diFalco - vocals and keys: Caveman Shoestore;</dt> 
  <dt>Amy Denio - vocals, guitar, bass, and sax, and Courtney Von Drehle - sax and keys: the Tone Dogs;</dt> 
  <dt>Neil Mintern - keys: Face Ditch #1; </dt>
  <dt>Craig Flory - sax, Myles Boisen - guitar, and Randy Neal - guitar: Face Ditch #2; </dt>
  <dt>Elliot Sharp - guitar and Joe Trump - drums: The Boodlers.</dt>
  </dl>
<a href="http://store.cdbaby.com/cd/faceditch" target="cdbaby" style="display:inline-block;background:url(http://CDBaby.name/f/a/faceditch.jpg) 18px 2px no-repeat, url(https://content.cdbaby.com/img/links/link-artwork-cart-dark-buy-now.png) 0px 0px no-repeat;background-size:175px, 211px;height:233px;width:211px;" title="Face Ditch: FaceDitch" alt="Face Ditch: FaceDitch" ></a>
<a href="http://store.cdbaby.com/cd/cavemanshoe" target="cdbaby" style="display:inline-block;background:url(http://CDBaby.name/c/a/cavemanshoe.jpg) 18px 2px no-repeat, url(https://content.cdbaby.com/img/links/link-artwork-cart-dark-buy-now.png) 0px 0px no-repeat;background-size:175px, 211px;height:233px;width:211px;" title="Caveman Shoestore: Supersale" alt="Caveman Shoestore: Supersale" ></a>
</center>