<% provide(:title, "Software Development/Fisheries") %>
<h1>Network Administation, Project Management, Computers, Programming, Fisheries Data, Natural Resources</h1>
<h2>Looking about for some better things to do with my time</h2>
<p>
  <body>For 20 years I've focused on the problem of salmon, steelhead, lamprey, and sturgeon survival in the Columbia River Basin, mostly on behalf of four tribes in the basin, The Confederated Tribes of the 
  Warm Springs Reservation of Oregon (<acronym>CTWSRO</acronym>), the Confederated Tribes of the Umatilla Indian Reservation (<Acronym>CTUIR</acronym>), 
  the Yakama Nation (<acronym>YN</acronym>), and the Nez Perce Tribe (<acronym>NPT</acronym>).
 
  <p>
  For 35 years I've written software in a succession of languages and configured and administered networks.  When I first came up there was not much specialization in the computer field, software, hardware, networks all
  together, first one had to configure the computers and networks, then one had to write and debug the programs.  I once worked on a study and co-authored some peer reviewed science papers, the <a href="http://www.fpc.org/documents/CSS/174-05-FINAL-CSS2005AR2-23.pdf">Comparative Survival Study</a>, 
  and the <a href="http://www.fpc.org/documents/CSS/FINAL%20COMPLETE%2010%20YEAR%20CSS%20REPORT-8-31-07withfrontpage.pdf">Comparative Survival Study Ten Year Retrospective Analyses Report</a>
  which has had some impact on the court ordered spilling of water over the mainstem dams of the Columbia Basin. I am very proud to have been a member of the scientific team that
  authored this study.  My primary role was to create software and manage a network to assist in the statistical bootstrap analysis of the data. </p>
  <p>I assisted US Fish and Wildlife Service to develop a dewatering model for chinook redds in the Hanford Reach.</p>
  <p>Funded by the Bonneville Power Administration, I recently managed a data project to assist the tribes to begin building <a href="https://www.cbfish.org/Project.mvc/Display/2008-507-00"> 
  data repositories </a>for their natural resource montioring data across the Columbia Basin Region.</p>
  <p>Senator Larry Craig of Idaho once referred to myself and my colleagues as <em>"Ecoterrorists"</em>, one of my greatest achievements when doing computers and science.</p>
  <p>I also spent three years as lead QA bringing new Food Stamp and WIC EBT systems successfully on-line for the state of Wyoming</p>
  <P>I also assisted the States of Wyoming, Utah, and Colorado to bring their new Mountain State Consortium health care elegibility system on-line.</P>
  <p><center><%= link_to "Have a job that needs to be done?  Here's my Project Management Resume/CV.", "HJF_Management_Resume_6_1_18.pdf", 

  class: "btn btn-lg btn-primary" %> </center></p>
  <p><center><%= link_to "And here's my more computer/network generalist resume", "HJF_Technical_Resume_6_1_18.pdf". 

  class: "btn btn-lg btn-primary" %> </center></p>
 </body> 
  