<% provide(:title, "Seatco") %>
<h1>Seatco</h1>
I was curious about this place we live and who might live here with us, so I looked around.  Eventually I wrote a couple of books about it.

<p><dl><center>
  
<dt>
  <%= link_to "In the Spirit of Seatco (Amazon-Kindle)","https://www.amazon.com/dp/B01HSJ8CXM", class: "btn btn-lg btn-primary" %>
  
</dt>
</center>  
</dl>
  
</p>
