<% if logged_in? %> 
<div class="row"> 
<aside class="col-md-4"> 
<section class="user_info"> 
<%= render 'shared/user_info' %> 
</section> 
<section class="stats">
<%#= render 'shared/stats' %>
</section>
<section class="micropost_form"> 
<%#= render 'shared/micropost_form' %> 
</section> 
</aside>
<div class="col-md-8">
   <%#<h3>Micropost Feed</h3> %>
   <%= render 'shared/feed' %>
</div> 
</div>
<% else %> 
<div class="center jumbotron"> 
<h1>Future Home of Salmon Bot</h1>
<h2>Predictive AI</h2><h2> used to benefit the public </h2>
<br>
<div>
<dl>
<dt><%#= link_to "Music... Bands... Records and CDs", drum_path, class: "btn btn-lg btn-primary" %></dt>
<dt><%#= link_to "Seatco, Sasquatch, and Books", foot_path, class: "btn btn-lg btn-primary" %></dt>
</dl>
<br>
<%#= link_to "Sign Up!", signup_path, class: "btn btn-lg btn-primary" %> 
</div>
<%#= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %> 
<% end %>







            