<footer class="footer">
  <small>
   <ul>
   <li><a href="http://www.henryfranzoni.com/">Back to Home</a></li>
   <li><a href="https://www.linkedin.com/in/henry-franzoni-5436307/">Linked In</a></li>
   <li><a href="https://www.facebook.com/hfranzoni3">FaceBook</a></li>
   </ul>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %> </li>
    </ul>
  </nav>
</footer>